.DS_Store
__pycache__
.env
config.json
ai_agents_course_venv

evaluation_results.json

*.json
*.jsonl

*.csv
*.xlsx
*.xls
*.docx
*.doc
*.pptx
*.ppt
*.pdf

*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico


*.mp3
*.wav
*.m4a
*.ogg
*.flac
*.aac
*.wma


*.py